# ============================
# 📦 Base de datos
# ============================
DB_HOST=localhost
DB_PORT=5557
DB_NAME=nexu_db            # Nombre de la base de datos
DB_USER=postgres           # Usuario de la base de datos
DB_PASSWORD=your_password  # Contraseña de la base de datos

# ============================
# 📧 Correo SMTP (Gmail)
# ============================
MAIL_SMPT_USERNAME=example@gmail.com
MAIL_SMPT_PASSWORD=your_smtp_password

# ============================
# 🔐 JWT
# ============================
JWT_SECRET=your_jwt_secret_here

# ============================
# ☁️ AWS S3 Configuration
# ============================
aws_access_key_id=YOUR_ACCESS_KEY_ID        # Clave de acceso AWS (mayúsculas)
aws_secret_access_key=YOUR_SECRET_ACCESS_KEY # Clave secreta AWS
aws_session_token=YOUR_SESSION_TOKEN        # Token de sesión (opcional, para roles temporales)

BUCKET_NAME=your_bucket_name                 # Nombre del bucket en S3
REGION_AWS=us-east-1                         # Región AWS donde está tu bucket

# ============================
# 🗺️ Google Maps API
# ============================
MAPS_KEY=your_google_maps_api_key            # API Key de Google Maps
